.navbar{
    background: #000000 !important;
    max-height: 40px
}

.dropdown{
    border-radius:0;
    border:0;
}
.dropdown-menu {
    background: gray;
    border: 0;
    top: 80%;
    border-radius: 0px 0px 5px 5px;
}
.dropdown-item:hover {
    background: gray;
    color: #fff;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar .nav-item .nav-link{
    color:#eee !important; 
    
}
.navbar .nav-item .nav-link:hover .navbar .nav-item .nav-link{
    color:red !important;
    
}