<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#"><img src="~/Content/images/kaft_logo.png" width="150px" height="75px"/></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto" >
            <li id="navbar-button" class="nav-item dropdown" data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">ERKEK</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">TASARIM TİŞÖRT</a>
                    <a class="dropdown-item" href="#">BASIC TİŞÖRT</a>
                    <a class="dropdown-item" href="#">ÇANTA</a>
                    <a class="dropdown-item" href="#">SWEATSHIRT</a>
                    <a class="dropdown-item" href="#">FERMUARLI KAPŞONLU</a>
                    <a class="dropdown-item" href="#">TASARIM KAPŞONLU</a>
                    <a class="dropdown-item" href="#">BERE</a>
                    <a class="dropdown-item" href="#">ÇORAP</a>
                </div>
            </li>
            <li id="navbar-button" class="nav-item dropdown" data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">KADIN</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">TASARIM TİŞÖRT</a>
                    <a class="dropdown-item" href="#">BASIC TİŞÖRT</a>
                    <a class="dropdown-item" href="#">ÇANTA</a>
                    <a class="dropdown-item" href="#">SWEATSHIRT</a>
                    <a class="dropdown-item" href="#">FERMUARLI KAPŞONLU</a>
                    <a class="dropdown-item" href="#">TASARIM KAPŞONLU</a>
                    <a class="dropdown-item" href="#">BERE</a>
                    <a class="dropdown-item" href="#">ÇORAP</a>
                    <a class="dropdown-item" href="#">ATLET</a>
                </div>
            </li>
            <li id="navbar-button" class="nav-item dropdown" data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">BİLGİ</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">KAFT HAKKINDA</a>
                    <a class="dropdown-item" href="#">ÜRÜN ÖZELLİKLERİ</a>
                    <a class="dropdown-item" href="#">TASARIMCILAR</a>
                    <a class="dropdown-item" href="#">SİPARİŞ TAKİBİ</a>
                    <a class="dropdown-item" href="#">EKİBE KATIL</a>
                    <a class="dropdown-item" href="#">YARDIM</a>
                    <a class="dropdown-item" href="#">İLETİŞİM</a>
                </div>
            </li>

            <!-- Dropdown -->
            <li id="navbar-button" class="nav-item dropdown" data-animations="fadeInDown fadeInLeft fadeInUp fadeInRight">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">EKSTRA</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">FOTOĞRAFLARINIZ</a>
                    <a class="dropdown-item" href="#">LOOKBOOK</a>
                    <a class="dropdown-item" href="#">VİDEOLAR</a>
                    <a class="dropdown-item" href="#">JOURNEYS</a>
                    <a class="dropdown-item" href="#">BLOG</a>
                    <a class="dropdown-item" href="#">DUVAR KAĞITLARI</a>
                </div>
            </li>

        </ul>
        <!-- Links -->
        <form class="float-right">
            <input class="btn" type="button" value="Giriş"/>
            <input class="btn" type="button" value="Üye Ol"/>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->