<nav class="navbar navbar-expand-sm   navbar-light bg-light fixed-top float-right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="~/Content/images/kaft_logo.png" width="150px" height="75px" alt="kaft logo"/></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Türkçe <img src="~/Content/images/languagelogo.png" />
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="#">Türkçe</a>
                    <a class="dropdown-item" href="#">İngilizce</a>
                </div>
            </li>
            <li class="nav-item dropdown dmenu">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Türkiye <img src="~/Content/images/countrylogo.png" />
                </a>
                <div class="dropdown-menu sm-menu">
                    <a class="dropdown-item" href="#">Austria</a>
                    <a class="dropdown-item" href="#">France</a>
                    <a class="dropdown-item" href="#">Germany</a>
                    <a class="dropdown-item" href="#">China</a>
                    <a class="dropdown-item" href="#">Spain</a>
                    <a class="dropdown-item" href="#">United States</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Giriş</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Üye Ol</a>
            </li>


        </ul>
    </div>
</nav>